body
{
  background-image: url("../backgrounds/alessandro-erbetta-765497-unsplash.jpg");
  height: 99vh;
  margin:auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: initial;
  background-attachment: fixed;
}

p
{
  font-size: 2vw;
}

.content_title
{
  font-size: 2vw;
  color: white;
  text-align: center;
  font-family: "Arial", Helvetica, sans-serif;

  background-color: #3339;
  margin-left: 40vw;
  margin-right: 40vw;
}

.content_text
{
  font-size:1vw;
  color: white;
  text-align: center;
  font-family: "Arial", Helvetica, sans-serif;

  background-color: #3339;
  padding: 2vw;
  margin-left: 10vw;
  margin-right: 10vw;
}

.titlebar {
  font-size: 2vw;
  background-color: #222;
  Font-family: "Arial", cursive, sans-serif;
  color: white;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbutton {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbutton {
  background-color: red;
}

.navright{
  float: right;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
} 

.content {
  padding: 16px;
}

.scrollbutton{
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;  /* Important for vertical align on mobile phones  */
  margin: 0;
}